#shuttleBackground {
    background-color: green;
    display: inline-block;
    height: 80%;
    width: 40%;
    position: relative;
  }
  
  #rocket {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #flightDisplay {
    text-align: center;
    height: 400px;
    width: 100%;
  }
  
  .center-block {
    text-align: center;
    display: inline-block;
  }
  
  .centered {
    text-align: center;
  }
  